/* your code here */
footer {
	font-family: Arial;
}

.content {
	background-color: black;
	color: white;
	padding: 30px;
}
.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.media-icons {
	display: flex;
	/* gap: 10px; */
}

.heading {
	font-size: 20px;
	text-decoration: underline;
}

.link-boxes {
	display: flex;
	justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
}

.logo_name {
	font-size: 28px
}

a {
	text-decoration: none;
	color: inherit;
}

.list {
	list-style-type: none;
	font-size: 12px;
	line-height: 1.5;
}

.bottom-details {
	background-color: gray;
	display: flex;
	padding: 10px 30px;
	color: white;
	justify-content: space-between;
	font-size: 12px
}
